body{
    max-width: 1140px;
    background-color: bisque;
    margin: 0 auto;
}
.container{
    display: flex;
    background-color: lightslategray;
    gap: 40px;
    padding: 10px;
    font-size: 1.25em;
    align-items: center;
    border-radius: 25px;
}
button{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 25px;
    font-size: 1.25em;
    cursor: pointer;
}

button:hover{
    background-color: brown;

}

.container img{
    width: 100%;
    height: 400px;
    border-radius: 25px;
}
