body{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.card-section{

}

.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.card{
    width: 300px;
    border: 2px solid salmon;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px lightgray;
    text-align: left;

}

.card:hover{
    background-color: antiquewhite;
}

.card img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.card button{
    background-color: aqua;
    cursor: pointer;
}

.card button:hover{
    background-color: greenyellow;
}

.card h3{
    font-size: 1.25em;
    font-weight: 700;
}